*.dcu
*.~*~
*.local
*.identcache
*.drc
*.map
*.exe
*.dll
*.bpl
*.mdb
*.dcp
*.skincfg
*.dic
*.ocx
*.wxo

__history
__history/
.svn/
bin/*
db/
tmp/
tmp/*.*
/StructBase_2/bin
/StructBase_2/dcu
/StructBase_2/dcp 
/SystemManager/dcu
/WebRun/debug_www
web
/SystemManager/bin/Data/DbLink.udl
