<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dataProvide</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>phprpc</display-name>
    <servlet-name>phprpc</servlet-name>
    <servlet-class>org.ycga.phprpc.phprpc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phprpc</servlet-name>
    <url-pattern>/phprpc</url-pattern>
  </servlet-mapping>
  <resource-ref id="ResourceRef_1174315813909">
    <description>jdbc/TestDB</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref id="ResourceRef_1174315813910">
    <description>jdbcJwzhxtData</description>
    <res-ref-name>jdbc/JwzhxtData</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>